/* color set
#FBE8A6
#FBEBAE
#F4976C
#303C6C
#B4DFE5
#D2FDFF */

/* reset the pages default margin and padding for the entire html file */
* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-image: url("./asserts/images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* SIDEBAR */
.sidebar {
    background: #B4C9C7;
    position: fixed;
    height: 100%;
    width: 15%;
    top: 0;
    left: 0;
    z-index: 0;
}

/* remove bullet from ul */
.sidebar ul {
    list-style-type: none;
}

.sidebar ul li {
    margin: 25px 0px;
}

.sidebar ul li a {
    color: #fff;
    padding: 0 30px;
    text-decoration: none;
}

.sidebar ul li a:hover {
    color: #57838D;
    margin-left: 20px;
    transition: 0.4s;
}

.main {
    margin-left: 15%;
    padding: 5px;
}

/* LOGIN */
.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container .form-login,
.form-container .form-register {
    width: 25%;
    margin: 30px 0 0 0;
    padding: 30px;
    background-color: #FFF;
    border-radius: 10px;
}

.form-login h1,
.form-register h1 {
    text-align: center;
    margin: 0 0 30px 0;
}

.form-login button,
.form-register button {
    width: 100%;
}

.form-login p,
.form-register p {
    margin: 10px 0;
}

.form-login h6 {
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 30px 0;
}

.form-login h6 span {
    background: #fff;
    padding: 0 10px;
}

.form-login .button-container {
    display: flex;
    justify-content: space-around;
}

.form-login .button-admin {
    margin: 0 5px 0 0;
}

.form-login .button-test-user {
    margin: 0 0 0 5px;
}

/* REGISTER */
.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions>svg {
    margin-right: 0.25rem;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}