/* color set
#FBE8A6
#FBEBAE
#F4976C
#303C6C
#B4DFE5
#D2FDFF */

/* reset the pages default margin and padding for the entire html file */
* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-image: url("./asserts/images/background.jpg");
}

.sidebar {
    background: #B4C9C7;
    position: fixed;
    height: 100%;
    width: 15%;
    top: 0;
    left: 0;
    z-index: 0;
}

/* remove bullet from ul */
.sidebar ul {
    list-style-type: none;
}

.sidebar ul li {
    margin: 25px 0px;
}

.sidebar ul li a {
    color: #fff;
    padding: 0 30px;
    text-decoration: none;
}

.sidebar ul li a:hover {
    color: #57838D;
    margin-left: 20px;
    transition: 0.4s;
}

.main {
    margin-left: 15%;
    padding: 5px;
}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions>svg {
    margin-right: 0.25rem;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}